<mat-nav-list>


    <mat-divider></mat-divider>

  

   <mat-card> <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a></mat-card>
   <mat-card><a mat-list-item routerLinkActive="list-item-active" routerLink="/production">Production </a></mat-card>
   <mat-card><a mat-list-item routerLinkActive="list-item-active" routerLink="/piechart">Quality Control</a></mat-card>
   
   <mat-card><a mat-list-item routerLinkActive="list-item-active" routerLink="/piechart">Quality Assuarnce Technical</a></mat-card>
   <mat-card><a mat-list-item routerLinkActive="list-item-active" routerLink="/piechart">Regulatory Affairs</a></mat-card>
   
   <mat-card> <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports">Supply Chain</a></mat-card>
   <mat-card> <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports">Training And Developement</a></mat-card>
   <mat-card> <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports">Report Generation</a></mat-card>


    <mat-divider></mat-divider>


</mat-nav-list>